@import url("https://fonts.googleapis.com/css?family=Quattrocento:400,700?1499283582");
@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic,700italic?1499283582");

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
    margin: 0;
    padding: 0
}

html {
    height: 100%
}

body {
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    color: #3e3e3e;
    font-family: \'Quattrocento Sans\',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

a {
    color: #b9b9b9;
    text-decoration: none;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease
}

    a:hover {
        color: #333
    }

        a:hover img {
            border: 0
        }

h2 {
    margin-bottom: 15px;
    color: #000;
    font-family: \'Quattrocento\',serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2em
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
    color: #777
}

.container {
    overflow: hidden;
    width: 100%;
    max-width: 960px;
    margin: 0 auto
}

.cento-header {
    position: relative;
    z-index: 9;
    width: 100%;
    background: #fff;
    padding: 40px 0 0;
    box-sizing: border-box
}

    .cento-header .logo {
        margin-bottom: 20px
    }

        .cento-header .logo #wsite-title {
            display: block;
            max-width: 500px
        }

        .cento-header .logo, .cento-header .logo a {
            display: block;
            color: #000;
            text-align: center;
            letter-spacing: .04em;
            font-family: \'Quattrocento Sans\',sans-serif;
            font-size: 40px;
            font-weight: 700;
            line-height: normal
        }

    .cento-header .nav-wrap {
        overflow: hidden;
        width: 100%;
        padding: 10px 0;
        background: #00a41a;
        box-sizing: border-box;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden
    }

    .cento-header label.hamburger {
        display: none
    }

.nav {
    text-align: center
}

    .nav ul {
        display: inline-block;
        vertical-align: top;
        list-style-type: none
    }

        .nav ul li {
            position: relative;
            display: inline-block;
            padding: 0 5px
        }

            .nav ul li a {
                display: block;
                padding: 5px 15px;
                color: #d4f6d3;
                text-transform: uppercase;
                letter-spacing: .07em;
                font-family: \'Quattrocento Sans\',sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 19px;
                -webkit-transition: all 300ms linear;
                -moz-transition: all 300ms linear;
                -ms-transition: all 300ms linear;
                -o-transition: all 300ms linear;
                transition: all 300ms linear
            }

            .nav ul li#active > a.wsite-menu-item, .nav ul li > a.wsite-menu-item:hover {
                color: #a8abbe
            }

.mobile-nav {
    display: none
}

.wsite-section-bg-color:before {
    display: none
}

.content-wrap {
    background: #fff
}

    .content-wrap .container {
        padding: 40px 20px;
        box-sizing: border-box
    }

.wsite-button {
    height: auto;
    padding: 0;
    background: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease
}

    .wsite-button .wsite-button-inner {
        height: auto;
        padding: 8px 12px;
        background: #333;
        color: #fff;
        border: 2px solid #333;
        border-radius: 1px;
        text-transform: uppercase;
        letter-spacing: .05em;
        white-space: normal;
        font-family: \'Quattrocento Sans\',sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease
    }

.wsite-button-large {
    background: 0
}

    .wsite-button-large .wsite-button-inner {
        padding: 12px 16px;
        font-family: \'Quattrocento Sans\',sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: normal
    }

.wsite-button:hover .wsite-button-inner {
    background: #555;
    color: #fff;
    border: 2px solid #555
}

@media screen and (max-width:992px) {
    .container {
        max-width: 768px
    }

    .content-wrap .container {
        padding: 20px
    }
}

@media screen and (max-width:767px) {
    body {
        background-size: initial;
        background-position: top center;
        background-attachment: inherit;
        font-size: 15px
    }

    .cento-header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        height: 50px;
        padding: 10px 0;
        border-bottom: 2px solid #f7f7f7;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden
    }

        .cento-header .logo {
            overflow-y: hidden;
            max-width: calc(100vw - 100px);
            max-height: 30px;
            margin: 0 auto
        }

            .cento-header .logo a {
                font-size: 18px;
                line-height: 30px
            }

        .cento-header #wsite-title {
            display: block;
            font-size: 18px !important;
            line-height: 16px !important
        }

        .cento-header label.hamburger {
            position: absolute;
            z-index: 6;
            top: 0;
            left: 5px;
            display: inline-block;
            width: 30px;
            height: 30px;
            padding: 10px;
            -webkit-transition: all 300ms ease-in-out;
            -moz-transition: all 300ms ease-in-out;
            -ms-transition: all 300ms ease-in-out;
            -o-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out
        }

            .cento-header label.hamburger span, .cento-header label.hamburger span:before, .cento-header label.hamburger span:after {
                position: relative;
                display: block;
                width: 22px;
                height: 2px;
                background: #3e3e3e;
                content: \'\';
                -webkit-transition: all 300ms ease;
                -moz-transition: all 300ms ease;
                -ms-transition: all 300ms ease;
                -o-transition: all 300ms ease;
                transition: all 300ms ease
            }

            .cento-header label.hamburger span {
                top: 9px;
                left: 4px;
                margin: 5px 0
            }

                .cento-header label.hamburger span:before {
                    top: -8px
                }

                .cento-header label.hamburger span:after {
                    bottom: -6px
                }

        .cento-header .nav-wrap {
            height: auto;
            margin: 0;
            padding: 0
        }

    .mobile-nav {
        position: fixed;
        top: 50px;
        left: 0;
        z-index: 9;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        height: 100%;
        max-height: 0;
        padding: 0;
        opacity: 0;
        background: white;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease
    }

        .mobile-nav ul {
            float: none;
            display: block;
            width: 100%;
            height: auto
        }

            .mobile-nav ul li {
                float: none;
                display: block !important;
                margin: 0;
                padding: 0;
                border: 0;
                text-align: center
            }

                .mobile-nav ul li a.wsite-menu-item, .mobile-nav ul li a.wsite-menu-subitem {
                    padding: 10px 0;
                    -webkit-transition: all 300ms ease;
                    -moz-transition: all 300ms ease;
                    -ms-transition: all 300ms ease;
                    -o-transition: all 300ms ease;
                    transition: all 300ms ease
                }

                .mobile-nav ul li .wsite-menu-wrap {
                    display: block !important;
                    overflow: hidden;
                    max-height: 0;
                    -webkit-transition: all 500ms ease-in-out 250ms;
                    -moz-transition: all 500ms ease-in-out 250ms;
                    -ms-transition: all 500ms ease-in-out 250ms;
                    -o-transition: all 500ms ease-in-out 250ms;
                    transition: all 500ms ease-in-out 250ms
                }

                .mobile-nav ul li.wsite-menu-item-wrap#active > a.wsite-menu-item, .mobile-nav ul li.wsite-menu-item-wrap > a.wsite-menu-item:hover, .mobile-nav ul li.wsite-menu-subitem-wrap > a.wsite-menu-subitem:hover {
                    color: #333
                }

    .desktop-nav {
        display: none
    }

    .wsite-section {
        height: auto !important
    }
}
